.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 54px;
}

    .footer__container{
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

    .footer__copyright{
        color: var(--dark);
        display: flex;
        justify-content: center;
    }

    .footer__icons{
        display: flex;
        gap: 35px;
    }

    .footer__copyright-text{
        font-weight: var(--desktop-body-small-text-regular-font-weight);
        font-size: var(--desktop-body-small-text-regular-font-size);
        line-height: var(--desktop-body-small-text-regular-line-height);
    }

@media (max-width: 375px) {
    .footer__copyright-text{
        font-weight: var(--mobile-body-small-text-regular-font-weight);
        font-size: var(--mobile-body-small-text-regular-font-size);
        line-height: var(--mobile-body-small-text-regular-line-height);
    }
}