.header{
    display: flex;
    justify-content: space-between;
    padding: 27px 59px;
    height: 84px;
}

    .header__icon-home{
        display: flex;
        align-items: center;
    }

.nav{
    display: flex;
    gap: 34px;
}

    .nav__link{
        text-decoration: none;
        color: var(--black);
        font-weight: var(--desktop-buttons-pagination-medium-text-font-weight);
        font-size: var(--desktop-buttons-pagination-medium-text-font-size);
        line-height: var(--desktop-buttons-pagination-medium-text-line-height);
    }

    .nav__link:hover{
        color: var(--primary);
    }

    .nav__link--actived{
        color: var(--primary);
    }

    .nav__link--icon-only{
        display: none;
    }

.menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 6px;
}

    .menu__linea{
        width: 30px;
        height: 2px;
        background-color: var(--black);
    }



@media (max-width: 375px) {
    .header{
        padding: 20px 18px 12px;
        height: 50px;
    }

    .nav__link{
        display: none;
    }

    .nav__link--icon-only{
        display: block;
    }

}